@model E_Book_Pvt_Website.Models.Book

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.book_title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.book_title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.book_description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.book_description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.book_publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.book_publisher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.book_price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.book_price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.book_ISBN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.book_ISBN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.book_author_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.book_author_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.book_image)
        </dt>
        <dd class="col-sm-10">
            @if (ViewData["ImageBase64"] != null)
            {
                <img src="@ViewData["ImageBase64"]" alt="Book Image" style="width:150px; height:auto;" />
            }
            else
            {
                <p>No image available</p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="BookEdit" asp-route-id="@Model?.book_id">Edit</a> |
    <a asp-action="Books">Back to List</a>
</div>
